<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.themotlcode.polydining"
          android:versionCode="15"
          android:versionName="2.1.0" >

    <uses-sdk
            android:minSdkVersion="14"
            android:targetSdkVersion="16" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/CalPolyHolo" >
        <activity
                android:name="com.themotlcode.polydining.PolyDiningActivity"
                android:clearTaskOnLaunch="true"
                android:label="@string/app_name"
                android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.themotlcode.polydining.PolyMealActivity"
                  android:label="@string/poly_meal_activity"
                  android:screenOrientation="portrait"/>
        <activity android:name="com.themotlcode.polydining.PlusDollarsActivity"
                  android:label="@string/plus_dollar_activity"
                  android:screenOrientation="portrait"/>
        <activity android:name="com.themotlcode.polydining.BaseActivity"/>
    </application>
</manifest>