<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mustangexchange.polymeal"
    android:versionCode="9"
    android:versionName="1.0.1" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CalPolyHolo" >
        <activity
            android:name="com.mustangexchange.polymeal.MainActivity"
            android:clearTaskOnLaunch="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mustangexchange.polymeal.VistaActivity"
            android:label="@string/title_activity_vg"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mustangexchange.polymeal.CartActivity"
            android:label="@string/title_activity_cart"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mustangexchange.polymeal.SandwichActivity"
            android:label="@string/title_activity_sandwich"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mustangexchange.polymeal.CompleteorActivity"
            android:label="@string/title_activity_completeor"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mustangexchange.polymeal.SettingsActivity"
            android:label="Settings"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mustangexchange.polymeal.TacoActivity"
            android:label="@string/title_activity_taco"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mustangexchange.polymeal.EinsteinActivity"
            android:label="@string/title_activity_bagel"
            android:screenOrientation="portrait" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>